interactive_console_output.xml
log.html
report.html
output.xml
sikuli_captured/
robot_scripts/secrets.robot
__pycache__
screenshot*.jpg
.idea/
selenium-screenshot*png
geckodriver*.log
variables.py
results/*
.vscode/
robot_scripts/tasks/Casedetails